<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>p1-Jorge-Sagrero-Perez</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggoutSession</display-name>
    <servlet-name>LoggoutSession</servlet-name>
    <servlet-class>com.revature.servlets.LoggoutSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggoutSession</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.revature.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.revature.servlets.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogServlet</display-name>
    <servlet-name>UserLogServlet</servlet-name>
    <servlet-class>com.revature.servlets.UserLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogServlet</servlet-name>
    <url-pattern>/userLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerProfileServlet</display-name>
    <servlet-name>ManagerProfileServlet</servlet-name>
    <servlet-class>com.revature.servlets.ManagerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerProfileServlet</servlet-name>
    <url-pattern>/managerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployees</display-name>
    <servlet-name>ViewEmployees</servlet-name>
    <servlet-class>com.revature.servlets.ViewEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployees</servlet-name>
    <url-pattern>/viewEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeListServlet</display-name>
    <servlet-name>EmployeeListServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeListServlet</servlet-name>
    <url-pattern>/employeeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingReimbursementsServlet</display-name>
    <servlet-name>PendingReimbursementsServlet</servlet-name>
    <servlet-class>com.revature.servlets.PendingReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingReimbursementsServlet</servlet-name>
    <url-pattern>/pendingReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompletedReimbursementsServlet</display-name>
    <servlet-name>CompletedReimbursementsServlet</servlet-name>
    <servlet-class>com.revature.servlets.CompletedReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompletedReimbursementsServlet</servlet-name>
    <url-pattern>/completedReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrivateReimbursementsServlet</display-name>
    <servlet-name>PrivateReimbursementsServlet</servlet-name>
    <servlet-class>com.revature.servlets.PrivateReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrivateReimbursementsServlet</servlet-name>
    <url-pattern>/privateReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditReimbursementsServlet</display-name>
    <servlet-name>EditReimbursementsServlet</servlet-name>
    <servlet-class>com.revature.servlets.EditReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditReimbursementsServlet</servlet-name>
    <url-pattern>/editReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyReimbursementsServlet</display-name>
    <servlet-name>MyReimbursementsServlet</servlet-name>
    <servlet-class>com.revature.servlets.MyReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyReimbursementsServlet</servlet-name>
    <url-pattern>/myReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMyProfile</display-name>
    <servlet-name>EditMyProfile</servlet-name>
    <servlet-class>com.revature.servlets.EditMyProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMyProfile</servlet-name>
    <url-pattern>/editMyProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyResolvedServlet</display-name>
    <servlet-name>MyResolvedServlet</servlet-name>
    <servlet-class>com.revature.servlets.MyResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyResolvedServlet</servlet-name>
    <url-pattern>/myResolved</url-pattern>
  </servlet-mapping>
</web-app>