<div class="container" style="text-align:center">
    <form>
      <label>Username:</label>
      <input type="text" class="form-control" [(ngModel)]='login.username' name='username'>
      <label>Password:</label>
      <input type="password" class="form-control" [(ngModel)]='login.password' name='password'>
      <label>Display Name:</label>
      <input type="text" class="form-control" [(ngModel)]='login.displayName' name='displayName'>
      <br><br>
      <button class="btn btn-submit" (click)='submit()'>Create User</button>

      <p>username: {{login.username}} password: {{login.password}} displayname {{login.displayName}}</p>
    </form>
  </div> 
  