<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf = '!router' class="container-fluid" style="text-align:center">

  <h1>
    Welcome to {{ title }}!
  </h1>

  
  <!-- <app-routercomp></app-routercomp> -->
<br>
<br>
<button  routerLink="/login" >Login</button>

<br>

<button  routerLink="/createUser">Create New User</button>
<br>

<button routerLink="/default">Take Quizzies as A Default User!</button>

</div>
<div *ngIf= '!router'>
  <h2>Not in home landing!</h2>
</div>
<router-outlet></router-outlet>



