<div class="container" class="text-secondary" style="text-align:left; font-size:large">
    <app-dashboard></app-dashboard>
    <div class="container">
        <form #update="ngForm">
            <br>
            <div class="form-group" class="text-secondary" style="text-align:left; font-size:large">
                <label>Password:</label>
                <input type="password" class="form-control" [(ngModel)]='login.pwd' name='pwd' required/>
                <p>pwd: {{login.pwd}}</p>
            </div>
            <br><br>
            <div class="form-group" class="text-secondary" style="text-align:left; font-size:large">
                <label>Display Name:</label>
                <input type="text" class="form-control" [(ngModel)]='login.displayName' name='displayName' required/>
                <p>displayName: {{login.displayName}}</p>
            </div>
            <br><br>
            <button [disabled]="!update.valid" class="btn btn-submit btn-lg" (click)='submit()'>Update</button>
            <br><br>
            <div class="text-secondary" *ngIf="!update.valid">
                Enter All Fields
            </div>
        </form>
    </div>
    <br>
    <button class="btn btn-primary" (click)='logout()'>Logout</button> <br><br>